body {
    margin : 40px auto;
    max-width : 650px;
    line-height : 1.6;
    font-size : 18px;
    color : #333;
    padding : 0 10px;
    font-family : sans-serif;
}

h1, h2, h3 {
    line-height : 1.2;
}

a {
    color: #0000ee;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid #a1a1e8;
}

a:hover {
    border-bottom: 1px solid #0000ee;
}